!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Proxeze Example
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/app.css'}
    %script{:type => 'text/javascript', :src => '/app.js' }
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'}
  %body
    #content
      = yield